body{
    background-image:url("/bgimage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    font-family:'Roboto', sans-serif;

   }





 